/* global settings */
*{
	font-family:Tahoma, Geneva, sans-serif;
}
body{
	color:#FFF !important;
	margin:0;
	background: url(../images/mtn.jpeg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div#menu-left-wrapper{
  float: left;
  margin-left: 20px;
  width: 270px;
  background: rgba(55, 58, 60, 0.8);
}

div#menu-right-wrapper{
  width: 270px;
  float: right;
  margin-right: 20px;
  background: rgba(55, 58, 60, 0.8);
}
/* Option menu*/
div#right-menu{
  padding:20px;
  margin: 0 20px 0 0;
  opacity:0.8;
}
div#left-menu{
  padding:20px;
  margin: 0 20px 0 0;
  opacity:0.8;
}


/* Chart div*/
div#chart {
  background:#CCC;
  margin:30px;
  border: 5px #FFFFFF solid;
}
div#chart-wrapper{
  margin:0 20px 0 20px;
  float:left;
  background: rgba(55, 58, 60, 0.8);
}

/* Different menus for options */
.optionsMenuRight{
  float:right;
  display:block;
  background-color:#7a92ff;
  width:250px;
  margin:0px 10px 15px 10px;
  padding: 10px;
  border-style: ridge;
}
.optionsMenuBottom{
  background-color:#7a92ff;
  width:1000px;
}
#FunctionDefects-menu {
  float:left;
  background-color:#7a92ff;
  margin-right: 50px;
}
#MaintainabilityDefects-menu {
  float:left;
  background-color:#7a92ff;
  margin-right: 50px;
}
#StyleConventions-menu {
  background-color:#7a92ff;
  float:left;
}
#d3-tip{
	font-size:19px;
}
/* Title */
#main-title {
  background: rgba(55, 58, 60, 0.8);
  opacity:0.8;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
title{
	color:#FFFFFF !important;
}
.back-button{
  border: none;
  color: white;
  width: 100%;
  color: #000;
  height: 25px;
  font-size: 15px;
  font-weight: bold;
}

.back-button:hover {
  background: #b3c1fe;
}

.title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
}
text {
  pointer-events: none;
}
.grandparent text {
  font-weight: bold;
}
rect {
  fill: none;
  stroke: #fff;
}
rect.parent,
.grandparent rect {
  stroke-width: 2px;
}
rect.parent {
  pointer-events: none;
}
.grandparent rect {
  /*fill: #999;*/
  opacity:0;
 
}
.grandparent:hover rect {
  fill: #b3c1fe;
}
.children rect.parent,
.grandparent rect {
  cursor: pointer;
}
/*
.children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}*/
.children:hover rect.child {
  fill: #bbb;
}

/*
 * Styling elements in the graph
 */
fam.node {
  stroke: #fff;
  stroke-width: 1.5px;
}
.link {
  stroke: #000;
  stroke-opacity: .25;
}

h4.category-titles{
	padding: 0;
	margin:20px 0 10px 0;
	cursor: pointer;
}
/**
tree map element style
**/

/* name of a block or package */
.ptext {
	text-align:center;
	font-size:18px;
}


/**
 code editor
**/

