/*
 * General styling
 */
*{font-family:Tahoma, Geneva, sans-serif;margin:0;padding:0;}
.quick .toggle-group { transition: none; -webkit-transition: none; }

body{
	margin:0;
	background:url(../images/bg2.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:100%;width:100%;
  font-family: 'Roboto', sans-serif;
}
.UIText {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

/* 
 * Option menu right
 */
div#menu-right-wrapper{
  width: 270px;
  float: right;
  margin-right: 20px;
  background: rgba(55, 58, 60, 0.8);
}
div#right-menu{
  padding: 0 0 20px 20px;
  margin: 0 20px 0 0;
  opacity:0.8;
  color: #fff;
  font-family: 'Roboto Mono', sans-serif;
}

/* 
 * Option menu left
 */
div#menu-left-wrapper{
  float: left;
  margin-left: 20px;
  width: 270px;
  background: rgba(55, 58, 60, 0.8);
}
div#left-menu{
  padding: 0 0 20px 20px;
  margin: 0 20px 0 0;
  opacity:0.8;
  color: #fff;
  font-family: 'Roboto Mono', sans-serif;
}
div#back-div{
  width:100%;
  height:30px;
  border-bottom:#FFF 2px solid;
  background: #337ab7;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 700;
  padding-left:5px;
  padding-top:3px;	
}
div#back-div:hover {
  background: #2d6da4;
}
#checkStyleLabel {
  color: #FFFFFF;
  font-family: 'Roboto Mono', sans-serif;
}
#PMDLabel {
  color: #FFFFFF;
  font-family: 'Roboto Mono', sans-serif;
}
#FindBugsLabel {
  color: #FFFFFF;
  font-family: 'Roboto Mono', sans-serif;
}
#maintainabilityDefectsLabel{
  color: #FFFFFF;
  font-family: 'Roboto Mono', sans-serif;
}
#functionalDefectsLabel{
  color: #FFFFFF;
  font-family: 'Roboto Mono', sans-serif;
}
#otherLabel{
  color: #FFFFFF;
  font-family: 'Roboto Mono', sans-serif;
}

/* 
 * Styling for the chart
 */
div#chart-and-code {
  cursor: pointer;
  position: relative;
}
div#chart {
  cursor: pointer;
  background:#CCC;
  margin:30px;
  border: 5px #FFFFFF solid;
}
div#code-div{
  margin-right:30px;
  margin-left:30px;
  border:#FFF 6px solid;
  visibility:hidden;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
div#chart-wrapper{
  margin:0 20px 0 20px;
  float:left;
  background: rgba(55, 58, 60, 0.8);
}

/* Different menus for options */
.optionsMenuRight{
  float:right;
  display:block;
  background-color:#7a92ff;
  width:250px;
  margin: 0px 10px 15px 10px;
  padding: 0 0 0px 0px;
  border-style: ridge;
}
.optionsMenuBottom{
  background-color:#7a92ff;
  width:1000px;
}
#FunctionDefects-menu {
  float:left;
  background-color:#7a92ff;
  margin-right: 50px;
}
#MaintainabilityDefects-menu {
  float:left;
  background-color:#7a92ff;
  margin-right: 50px;
}
#StyleConventions-menu {
  background-color:#7a92ff;
  float:left;
}

/*
 * Styling for the tooltip of the treemap
 */
#d3-tip{
	font-size:15px;
  color: #fff;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 100;
}

.form {
  font-size: 18px;
  color: #999999;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
}

/* Title */
#main-title {
  background: rgba(55, 58, 60, 0.8);
  opacity:0.8;
  font-size: 26px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFF;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
}

/* Back button */
.back-button{
  border: none;
  color: white;
  width: 100%;
  color: #000;
  height: 25px;
  font-size: 15px;
  font-weight: bold;
}
.back-button:hover {
  background: #b3c1fe;
}

.title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
}
text {
  pointer-events: none;
}
.grandparent text {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 700;
}
rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
}
.grandparent rect {
  stroke-width: 2px;
  fill: #337ab7;
}

.grandparent:hover rect {
  fill: #2d6da4;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}
.children:hover rect.child {
  fill: rgba(255,255,255, 0.25);
}
g.children:hover{
  stroke-width: 0.3px;
  stroke: #000000;
}

/*
 * Styling elements in the graph
 */
fam.node {
  stroke: #fff;
  stroke-width: 1.5px;
}
.link {
  stroke: #000;
  stroke-opacity: .25;
}

h4.category-titles{
	padding: 0;
	margin:20px 0 10px 0;
	cursor: pointer;
}

/* Name of a node */
.ptext {
	text-align:center;
	font-size:18px;
  font-weight: 100;
}
.ctext {
  font-weight: 100;
}

/* Various buttons styling */
.radioButton{
	margin-top:10px;
    display: inline-block;
    width: 17px;
    height: 17px;
}
.buttonText{
  display: inline-block;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
	size:15px;
  height:10px;
}
#relativeLabel{
  display: inline-block;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  size:15px;
  height:10px;
  padding-left: 7.5px;
}

/*
 * Defines for all descriptions of categories how they should appear on a hover action
 */
#GDCFunctionalDefects-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index:10002;
    font-family: 'Roboto Mono', sans-serif;
}

#GDCCheck-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index:10002;
    font-family: 'Roboto Mono', sans-serif;
}

#GDCConcurrency-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index:10002;
    font-family: 'Roboto Mono', sans-serif;
}

#GDCErrorHandling-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index:10002;
    font-family: 'Roboto Mono', sans-serif;
}

#GDCInterface-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index:10002;
    font-family: 'Roboto Mono', sans-serif;
}

#GDCLogic-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index:10002;
    font-family: 'Roboto Mono', sans-serif;
} 
            
#GDCMigration-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index:10002;
    font-family: 'Roboto Mono', sans-serif;
}

#GDCResource-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index:10002;
    font-family: 'Roboto Mono', sans-serif;
}

#GDCMaintainabilityDefects-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index:10002;
    font-family: 'Roboto Mono', sans-serif;
}

#GDCBestPractices-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index:10002;
    font-family: 'Roboto Mono', sans-serif;
}

#GDCCodeStructure-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index:10002;
    font-family: 'Roboto Mono', sans-serif;
}

#GDCDocConventions-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index: 10002;
    font-family: 'Roboto Mono', sans-serif;
}
                
#GDCMetric-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index:10002;
    font-family: 'Roboto Mono', sans-serif;
}

#GDCNamingConventions-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index:10002;
    font-family: 'Roboto Mono', sans-serif;
}

#GDCOODesign-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index:10002;
    font-family: 'Roboto Mono', sans-serif;
}

#GDCSimplifications-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index:10002;
    font-family: 'Roboto Mono', sans-serif;
}

#GDCRedundancies-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index:10002;
    font-family: 'Roboto Mono', sans-serif;
}

#GDCStyleConventions-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index:10002;
    font-family: 'Roboto Mono', sans-serif;
}

#GDCOther-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index:10002;
    font-family: 'Roboto Mono', sans-serif;
}

#GDCRegularExpressions-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index:10002;
    font-family: 'Roboto Mono', sans-serif;
}

#GDCToolSpecific-hover {
    display:none;
    background: rgba(55, 58, 60, 1.0);
    padding: 10px;
    width: 250px;
    color: #FFFFFF;
    position:absolute;
    z-index:10002;
    font-family: 'Roboto Mono', sans-serif;
}

